<div style="margin_left: 10%;">
  <div class="container" style="text-align: center">
    <h1>To-Do: <%= @list.title %></h1>
    <hr>
    <p><%= @list.todos %></p>
  </div>
    <div class="container" style="text-align: center">
      <%= link_to "Rename List", edit_list_path(@list), class: "btn btn-primary" %>
      <%= link_to "Delete List", @list, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this list?'} %>
    </div>
</div>
